In [3]:
library(tidyverse)
library(repr)
library(readxl)
options(repr.matrix.max.rows = 6)

In [5]:
pokemon_data <- read.csv("data/Pokemon.csv")
head(pokemon_data)

  X. Name                  Type.1 Type.2 Total HP Attack Defense Sp..Atk
1 1  Bulbasaur             Grass  Poison 318   45  49     49      65
2 2  Ivysaur               Grass  Poison 405   60  62     63      80
3 3  Venusaur              Grass  Poison 525   80  82     83     100
4 3  VenusaurMega Venusaur Grass  Poison 625   80 100    123     122
5 4  Charmander            Fire          309   39  52     43      60
6 5  Charmeleon            Fire          405   58  64     58      80
  Sp..Def Speed Generation Legendary
1  65     45    1          False
2  80     60    1          False
3 100     80    1          False
4 120     80    1          False
5  50     65    1          False
6  65     80    1          False